* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.calendar {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-control {
  width: 70rem;
}

.react-calendar-heatmap .today-cell {
  fill: rgb(199, 255, 241);
}

.react-calendar-heatmap .empty-cell {
  fill: rgb(235, 235, 235);
}

.react-calendar-heatmap .full-cell {
  fill: springgreen;
}

.react-calendar-heatmap text {
  font-size: 6px;
  fill: #aaa;
}

.react-calendar-heatmap .react-calendar-heatmap-small-text {
  font-size: 5px;
}

.react-calendar-heatmap rect:hover {
  stroke: rgb(0, 149, 255);
  stroke-width: 1px;
}

.current-date {
  position: absolute;
  top: 50px;
  font-size: x-large;
}
.output {
  position: absolute;
  bottom: 150px;
  margin: 0 150px;
  text-align: center;
}
